{% extends 'base.html' %}
{% block content %}
<body>
    <section class="Invite" id="Invite">
        <div class="title">
            <h1> Card <span>Design</span></h1>
            <p>Choose The Best Card Design</p>
        </div>
        <div class="Invitation-row">
        <div class="Invitation-box">
        <img src="/static/e14.jfif" alt="">
        </div>
        <div class="Invitation-box">
        <img src="/static/e2.jfif" alt="">
        </div>
        <div class="Invitation-box">
        <img src="/static/e3.jfif" alt="">
        </div>
        <div class="Invitation-box">
        <img src="/static/e4.jfif" alt="">
        </div>
        <div class="Invitation-box">
        <img src="/static/e5.jfif" alt="">
        </div>
        <div class="Invitation-box">
        <img src="/static/e6.jfif" alt="">
        </div>
            <div class="Invitation-box">
            <img src="/static/e7.jfif" alt="">
            </div>
            <div class="Invitation-box">
            <img src="/static/e8.jfif" alt="">
            </div>
            <div class="Invitation-box">
            <img src="/static/e9.jfif" alt="">
            </div>
            <div class="Invitation-box">
            <img src="/static/e10.jfif" alt="">
            </div>
            <div class="Invitation-box">
            <img src="/static/e11.jfif" alt="">
            </div>
            <div class="Invitation-box">
            <img src="/static/e12.jfif" alt="">
        </div>
       </div>
    </section>

  </body>  
  {% endblock %}

