<footer id="contact">
    <div class="container">
        <div class="f-container">
            <h2>WedForLife - Your personal wedding planner</h2>
            <p>Plan your wedding with us WedForLife Is an Indian wedding planning website</p>
            <div>
                <button class="btn" onclick="window.location.href='{% url 'vendor_register' %}'">Register as a vendor</button>
            </div>
            <div class="social">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-whatsapp"></i>
            </div>
            <div class="f-container">
                <h2>Our Location</h2>
                <a href="#"><i class="fas fa-angle-right"> Khargone</i></a>
                <a href="#"><i class="fas fa-angle-right"> Goa</i></a>
                <a href="#"><i class="fas fa-angle-right"> Indore</i></a>
                <a href="#"><i class="fas fa-angle-right"> Ahemdabad</i></a>
                <a href="#"><i class="fas fa-angle-right"> Jaipur</i></a>
            </div>
            <div class="f-container">
                <h2>Our Newsletter</h2>
                <p>Subscribe for latest updates</p>
                <input type="text" placeholder="Enter your email">
                <button class="btn">Subscribe</button>
            </div>
        </div>
    </div>
</footer>
