{% extends 'base.html' %}
{% block content %}

    <!-----------Home section-------------->
    <section id="Home" class="Home">
            <div class="Search-box">
                <h1>Your Wedding, Your Way</h1>
                <p>Find the Best Wedding Vendors with Thousands of Trusted Reviews</p>
                <select name="vendor_type" class="Search-field">
                    <option disabled selected>Select Vendor Type</option>
                    <option value="Banquet Halls">Banquet Halls</option>
                    <option value="Wedding Resorts">Wedding Resorts</option>
                    <option value="Destination Wedding Venues">Destination Wedding Venues</option>
                    <option value="4 Star & Above Wedding Hotels">4 Star & Above Wedding Hotels</option>
                    <option value="Venue Concierge services">Venue Concierge services</option>
                    <option value="Small function & Party Halls">Small function & Party Halls</option>
                    <option value="View all Venues">View all Venues</option>
                </select>
                <select name="city" class="Search-field">
                    <option disabled selected>City</option>
                    <option value="Indore">Indore</option>
                    <option value="Mumbai">Mumbai</option>
                    <option value="Udaipur">Udaipur</option>
                    <option value="Goa">Goa</option>
                    <option value="Khargone">Khargone</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Pune">Pune</option>
                    <option value="Jhansi">Jhansi</option>
                    <option value="Bangalore">Bangalore</option>
                    <option value="Hyderabad">Hyderabad</option>
                    <option value="Pushkar">Pushkar</option>
                </select>
                <button class="btn" type="submit">Search</button>
            </div>
        </form>
    </section>

    <!---------------end home section------------------------------->

{% endblock %}
