{% extends 'base.html' %}
{% block content %}
     <!------------VENUES SECTION------------------------>
     <body>
     <section class="venues" id="venues">
        <div class="title">
            <h1><span>v</span>enues</h1>
            <div class="services-row">
            <div class="venues-list">
                <div class="venues-box">
                    <img src="/static/venu9.jpg"  alt="img">
                    <div class="venues-info">
                        <h2>indore</h2>
                        <p>Sheraton , indore</p>
                        <button class="btn"><a href="https://www.marriott.com/en-us/hotels/idrsi-sheraton-grand-palace-indore/overview/?scid=f2ae0541-1279-4f24-b197-a979c79310b0">More info.</a></button>
                        
                    </div>
                </div>
                <div class="venues-box">
                    <img src="/static/venu1.jpg"  alt="img">
                    <div class="venues-info">
                        <h2>Jaipur</h2>
                        <p>Raj Palace , Rajasthan</p>
                        <button class="btn"><a href="https://www.rajpalace.com/"> More info.</a></button>
                        
                    </div>
                </div>
                <div class="venues-box">
                    <img src="/static/venu2.webp"  alt="img">
                    <div class="venues-info">
                        <h2>Udaipur</h2>
                        <p>Taj Aravalli Resorts & Spa, Udaipur</p>
                        <button class="btn"><a href="https://www.tajhotels.com/en-in/hotels/taj-aravali-resort-and-spa-udaipur"> More info.</a></button>
                        
                    </div>
                </div>
                <div class="venues-box">
                    <img src="/static/venu3.jpg"  alt="img">
                    <div class="venues-info">
                        <h2>Indore</h2>
                        <p>Essentia Luxury Hotel , Indore</p>
                        <button class="btn"> <a href="https://www.essentiahotels.in/">More info.</a></button>
                        
                    </div>
                </div>
                <div class="venues-box">
                    <img src="/static/venu4.jpeg"  alt="img">
                    <div class="venues-info">
                        <h2>Daman</h2>
                        <p>The Deltin, Daman </p>
                        <button class="btn"><a href="https://www.deltin.com/deltin-daman-hotel/"> More info.</a></button>
                        
                    </div>
                </div>
                <div class="venues-box">
                    <img src="/static/venu5.jpg"  alt="img">
                    <div class="venues-info">
                        <h2>Goa</h2>
                        <p>Azaya Beach Resort , Goa</p>
                        <button class="btn"><a href="https://www.azayabeachresortgoa.com/?utm_source=Google&utm_medium=GMB">More info.</a> </button>
                        
                    </div>
                </div>
                <div class="venues-box">
                    <img src="/static/venu6.webp"  alt="img">
                    <div class="venues-info">
                        <h2>Bhopal</h2>
                        <p>Taj Lakefront , Bhopal</p>
                        <button class="btn"><a href="https://www.tajhotels.com/en-in/hotels/taj-lakefront-bhopal"> More info.</a></button>
                        
                    </div>
                </div>
                <div class="venues-box">
                    <img src="/static/venu7.jpg"  alt="img">
                    <div class="venues-info">
                        <h2>Indore</h2>
                        <p>Marriott Hotel , Indore</p>
                        <button class="btn"><a href="https://www.marriott.com/en-us/hotels/idrmh-indore-marriott-hotel/overview/?scid=f2ae0541-1279-4f24-b197-a979c79310b0"> More info.</a></button>  
                    </div>
                </div>
            </div>
        </div>
    </div>
     </section>
</body>
{% endblock %}
